  font-family: Georgia, serif;
img {
  width: 400px;
  height: 400px;
  position: relative;
}

h2  {
  font-size: 70%;
  position: absolute;
  top: 80px;
  font-family: Helvetica, serif;
}
ol  {
  font-family: Helvetica, serif;
  text-align: right;
  position: absolute;
  left: 415px;
  font-size: 240%;
  bottom: 200px;
}

p  {
  font-family: Helvetica, serif;
  font-family: Helvetica, serif;
  font-style: italic;
}
