img {
  width: 400px;
  height: 400px;
  position: relative;
}

ol  {
  position: absolute;
  left: 415px;
  bottom: 220px;
  font-size: 240%;

}
figure  {
  font-style: italic;
  font-size: 90%;
}
ul  {
  position: relative;
  bottom: 200px;
}
